.tab-btn .tab-btn-font {
    font-family: Satoshi-Regular !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.9px;
    border-radius: 20px !important;
}

.username-label h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: white;
}

.grid-img img {
    height: 100%;
    width: auto;
}

.tab-content img {
    width: 100%;
}

.popup-profile-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    color: white;
}

@media only screen and (max-width: 840px) {
    .tab-btn .tab-btn-font {
        font-size: 14px;
        line-height: 18.9px;
    }

    .popup-profile-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 16.2px;
        color: white;
    }
}




@media only screen and (min-width: 1566px) {}