.tab-btn .tab-btn-font {
    font-family: Satoshi-Regular !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.9px;
    border-radius: 20px !important;
}

.username-label h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .tab-btn .tab-btn-font {
        font-size: 14px;
        line-height: 18.9px;
    }
}

.tab-content img {
    width: 100%;
}