.tab-btn .tab-btn-font {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.9px;
    border-radius: 20px !important;
}

@media only screen and (max-width: 600px) {
    .tab-btn .tab-btn-font {
        font-size: 14px;
        font-weight: 700;
        line-height: 18.9px;
    }
}

.tab-content img {
    width: 100%;
}
