@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'SkemaProText';
  src: url('/Assets/Fonts/OTF/SkemaProText-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
